<footer class="footer">
    <div data-aos="fade-up">
        <p>&copy; 2025 Gabriel. All Rights Reserved.</p>
        <div class="social-links">
            <a href="https://github.com/Gebxby"><i class="fab fa-github"></i> <img src="/image/github-logo.png" alt=""></a>
            <a href="https://www.instagram.com/gebxby?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fab fa-instagram"></i> <img src="/image/instagram-logo.png" alt=""></a>
            <a href="https://x.com/Gebxby"><i class="fab fa-twitter"></i><img src="/image/x.png" alt=""></a>
            <a href="https://www.linkedin.com/in/gabriel-selwas-aboyaman-fenanlampir-b3957428a/"><i class="fab fa-linkedin"></i><img src="/image/linkedin.png" alt=""></a>
        </div>
    </div>
</footer>
<style>
    

    .footer {
        text-align: center;
        padding: 40px 20px;

        position: relative;
    }

    .footer::before {
        content: '';
        position: absolute;
        top: -50px;
        left: 0;
        width: 100%;
        height: 50px;
        background: inherit;
        transform: skewY(-2deg);
    }

    .social-links {
        margin-top: 20px;
    }

    .social-links a {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        background: white;
        color: #2d3436;
        margin: 0 10px;
        transition: transform 0.3s ease;
    }

    .social-links a:hover {
        transform: translateY(-5px);
    }
</style>