<script src="https://cdn.tailwindcss.com"></script>
<div class="bg-pink-200 m-10 pl-5 pr-5 rounded-lg">
    <a href="/" class="M-3 pl-5 pr-5"> <img src="<%= home_button %>" alt="" class="w-[25px] h-auto"></a>
</div>


